<style>
	.container{
		width:50%;
		margin:auto;
min-width: 300px;
	}
	.time {
		text-align: center;
	}
	hr{
		border:1px solid #ececec;
		margin-top:2rem ;
	}


</style>

<div class="container">
	<h2 class="time">{{ showDate() }}</h2>
	<hr>

<button (click)="deleteMarkedTasks()"><img src="../assets/trash-check.svg" title="Delete checked tasks" srcset=""></button>
<button (click)="clearAllTodos()"><img src="../assets/trash-2.svg" title="Delete all tasks" srcset=""></button>
<button (click)="markAllChecked()"><img src="../assets/checked.svg"  title="Check all tasks" srcset=""></button>
<div *ngFor="let item of modalService.items">

<app-item [task]="item"></app-item>
</div>
</div>
<app-floating-button></app-floating-button>
<app-modal></app-modal>